:root{
    --primary-color:#080F0F;
    --primary-color-dark: #A4BAB7;
    --secondary-color: #000807;
    --secondary-color-dark: #5C80BC;
    --gray-color: #B2B1CF;
    --gray-color-dark: #4D5061;


}