:root{
    --primary-color:#000022;
    --primary-color-dark: #001242;
    --secondary-color: #0094C6;
    --secondary-color-dark: #005E7C;
    --gray-color: #B2B1CF;
    --gray-color-dark: #46494C;


}