<section id="content">
    <h1>Últimas Noticias</h1>
    
    <article>
        <h2> El Desarolo no es más que copiar y pegar</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cumque vero rerum enim quasi at, velit architecto unde excepturi facilis odio quaerat voluptatibus deleniti debitis eveniet asperiores, veritatis explicabo doloremque?</p>
        <a href="#"> Leer más</a>
    </article>

    <article>
        <h2> Cómo hacer un slider con HTML y Css</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cumque vero rerum enim quasi at, velit architecto unde excepturi facilis odio quaerat voluptatibus deleniti debitis eveniet asperiores, veritatis explicabo doloremque?</p>
        <a href="#"> Leer más</a>
    </article>

    <article>
        <h2> ¿Por qué HTML no es un Lenguaje de Programación? </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cumque vero rerum enim quasi at, velit architecto unde excepturi facilis odio quaerat voluptatibus deleniti debitis eveniet asperiores, veritatis explicabo doloremque?</p>
        <a href="#"> Leer más</a>
    </article>

    <article>
        <h2> Como poner la primer letra en Mayúscula con Css</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cumque vero rerum enim quasi at, velit architecto unde excepturi facilis odio quaerat voluptatibus deleniti debitis eveniet asperiores, veritatis explicabo doloremque?</p>
        <a href="#"> Leer más</a>
    </article>

    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li>....</li>
        <li><a href="#">23</a></li>
    </ul>
</section>